<footer class="md-footer">
  <div class="md-footer__inner md-grid">
    <div class="md-footer__title">
      <span>© 2024-2025 RSVP System TM (rsvp-system.org)</span>
      RSVP System is Trademarked by Stephen Groundwater, Gluebox.com LLC.
    </div>
  </div>
</footer>
